@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Theme variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* Custom scrollbar styles for dark mode */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #222a35;
  border-radius: 8px;
  border: 2px solid #18181b;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #222a35 #18181b;
}
